<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>idx</key>
			<string>categoryIdx_001</string>
			<key>name</key>
			<string>生活_001</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_002</string>
			<key>name</key>
			<string>生活_002</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_003</string>
			<key>name</key>
			<string>生活_003</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_004</string>
			<key>name</key>
			<string>生活_004</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_005</string>
			<key>name</key>
			<string>生活_005</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_006</string>
			<key>name</key>
			<string>生活_006</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_007</string>
			<key>name</key>
			<string>生活_007</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_008</string>
			<key>name</key>
			<string>生活_008</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_009</string>
			<key>name</key>
			<string>生活_009</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_010</string>
			<key>name</key>
			<string>生活_010</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_011</string>
			<key>name</key>
			<string>生活_011</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_012</string>
			<key>name</key>
			<string>生活_012</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_013</string>
			<key>name</key>
			<string>生活_013</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_014</string>
			<key>name</key>
			<string>生活_014</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_015</string>
			<key>name</key>
			<string>生活_015</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_016</string>
			<key>name</key>
			<string>生活_016</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_017</string>
			<key>name</key>
			<string>生活_017</string>
		</dict>
		<dict>
			<key>idx</key>
			<string>categoryIdx_018</string>
			<key>name</key>
			<string>生活_018</string>
		</dict>
	</array>
</dict>
</plist>
