<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>templateType</key>
			<string>Template0</string>
			<key>id</key>
			<string>bd8769c56ad04fe7a79abc2fb1e015b2</string>
			<key>index</key>
			<string>1</string>
			<key>name</key>
			<string>app首页轮播图1-8-INDEX_BANNER</string>
			<key>number</key>
			<string>INDEX_BANNER</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>fca1ff31f6414984929883dd2c3ce4d1</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>系统公测</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>2.jpg</string>
					<key>objId</key>
					<string>c71cb2734f0343a2a84778310dcb24cc</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>e067e5ab8e2c400f93dd99adb1f7a70d</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>系统公测2</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>3.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template1</string>
			<key>id</key>
			<string>befbbffc19714cc2a328f817b9ffcd27</string>
			<key>index</key>
			<string>2</string>
			<key>name</key>
			<string>app首页标签及背景1-9-INDEX_MIDDLETAB</string>
			<key>number</key>
			<string>INDEX_MIDDLETAB</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>fde11429439349f597d4e65a9f89bc02</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>精品预售</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160719/aba98e9bae0a4734b0900da7ecd53d98_size.jpg</string>
					<key>objId</key>
					<string>c71cb2734f0343a2a84778310dcb24cc</string>
					<key>type</key>
					<string>PRESALE_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>6252f9c611c6459f94d38f9b1acee4e5</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>一元嗨翻购</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/50dc6e2051874aa3b39b1bef531ff04d_size.png</string>
					<key>objId</key>
					<string>19cdc3f522844f0695dc057ae572ed77</string>
					<key>type</key>
					<string>ACTIVITY_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>182cee32f95e4c65a7fa6f8d613ebbdb</string>
					<key>index</key>
					<string>3</string>
					<key>title</key>
					<string>厨卫电器</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/c15315b70f774d1c98954ecea90847fc_size.png</string>
					<key>objId</key>
					<string>dba594c2cd7d4be091f105697e830eae</string>
					<key>type</key>
					<string>CATEGORY_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>8ae463693c834a3eb9bea50a44153cda</string>
					<key>index</key>
					<string>4</string>
					<key>title</key>
					<string>新鲜水果</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/2cd43b1494a34c5a80d202cc10f89cd9_size.png</string>
					<key>objId</key>
					<string>ba4fc52c655a42d8a8b6ed25eec973ee</string>
					<key>type</key>
					<string>WHOLESALE_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>d379e2b4b0794fb18ca43b9c71503d07</string>
					<key>index</key>
					<string>5</string>
					<key>title</key>
					<string>限时抢购</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/c12722da15924907b6c666ee89175c5f_size.png</string>
					<key>objId</key>
					<string>19cdc3f522844f0695dc057ae572ed77</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>0d40e1a3004a48488b82efdc702b1de1</string>
					<key>index</key>
					<string>6</string>
					<key>title</key>
					<string>食品酒饮</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/897dd61b53854eb9a128fc21dbbea65d_size.png</string>
					<key>objId</key>
					<string>19cdc3f522844f0695dc057ae572ed77</string>
					<key>type</key>
					<string>PANICBUYING_DETAIL</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>e1cb1f87123542bb880252ccf686c0d9</string>
					<key>index</key>
					<string>7</string>
					<key>title</key>
					<string>家纺家装</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/053cc897a3f54d628d42d54c9613acb3_size.png</string>
					<key>objId</key>
					<string>6c08d00110284976a47aba188b3a9587</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>8835e9b324b24c60877905a06ada4b5a</string>
					<key>index</key>
					<string>8</string>
					<key>title</key>
					<string>粮油干货</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/b36204067a5145c0b9c702fe7c062d2e_size.png</string>
					<key>objId</key>
					<string>878a1db8e07747418d4f9120c74480a8</string>
					<key>type</key>
					<string>WEB_LINK</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>6252f9c611c6459f94d38f9b1acee4e5</string>
					<key>index</key>
					<string>9</string>
					<key>title</key>
					<string>背景图片</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/50dc6e2051874aa3b39b1bef531ff04d_size.png</string>
					<key>objId</key>
					<string>19cdc3f522844f0695dc057ae572ed77</string>
					<key>type</key>
					<string>NEWUSER_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template2</string>
			<key>id</key>
			<string>40bb7a4d48794c4988a5ed398ae94fa0</string>
			<key>index</key>
			<string>3</string>
			<key>name</key>
			<string>app首页聚特惠1-4-INDEX_TH_4</string>
			<key>number</key>
			<string>INDEX_TH_4</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>3c57e54cb7fb454d9fcc1c34d404cfa5</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>Gree/格力 KFR-35GW/(35583)FNEa-A3 变频冷静宝大1.5P空调挂机</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/166b0bf5251743a690445add35aa0ce7_size.jpg</string>
					<key>objId</key>
					<string>411bfdc1daa44dec9afb8fbce2009d54</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>130e1b7d34544f40b84c9e5c0e38f404</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>海信洗衣机XQG80-U1201F银（8kg）</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/e1fdf0db8c324258b0306fbc627ce64c_size.jpg</string>
					<key>objId</key>
					<string>9b13bb9423584cb7aaaba9a726ca9fe5</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>697775958e6142758a76d31c4b0cfcda</string>
					<key>index</key>
					<string>3</string>
					<key>title</key>
					<string>海信电视LED43K2000(43寸)黑</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/f0cd75ee0ddb400298c5ecc599d510a9_size.jpg</string>
					<key>objId</key>
					<string>abe302864d604e068c6311e26e0d4560</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>40385469013c4d44902089d985b091c1</string>
					<key>index</key>
					<string>4</string>
					<key>title</key>
					<string>海尔BCD-206STCE金色紫丁香206L 三门冰箱</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/57c6cba90c7d4c50bde3ae06bfc2599c_size.jpg</string>
					<key>objId</key>
					<string>07f1918cd7624ea2b5f59ea0b28c3682</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template3</string>
			<key>id</key>
			<string>17846d486beb43f1a2171367266741d4</string>
			<key>index</key>
			<string>4</string>
			<key>name</key>
			<string>app首页banner一_INDEX_AD1</string>
			<key>number</key>
			<string>AD_INDEX_AD1</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>8af174e0d1db4d45ab97a23e8af6c235</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>电风扇</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/11d79a8c8e2c420da966c6945ea52469_size.jpg</string>
					<key>objId</key>
					<string>e4cd084c17834361a70b3e61ff210f5c</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template4</string>
			<key>id</key>
			<string>417a7b18fa3241f98c2b5df262b32bf5</string>
			<key>index</key>
			<string>5</string>
			<key>name</key>
			<string>麦场精选</string>
			<key>number</key>
			<string>INDEX_JX_5</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>67562fb196e14dabbe279f0985900dcb</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>oppo R7 plus移动版4G</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/b235d07ba9da4d41ae30bc613022aa58_size.jpg</string>
					<key>objId</key>
					<string>a60c2f1ce0194ae6ac9c042bb08469c9</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>6c0b3d617f91422fa455270ec090a003</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>苏泊尔球釜一锅双胆电压力锅50YCS01Q（5L）</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/fcbb442cd5934df69bfebfd3914a1fc1_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>73a602fa47704428b294c08a36f52631</string>
					<key>index</key>
					<string>3</string>
					<key>title</key>
					<string>飞利浦可自动研磨旋转双刀头电动剃须刀PQ226</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/b4d92fa3122447d98f3cdc956c6157e0_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>27692f5ae96a4d7a835b38f334694686</string>
					<key>index</key>
					<string>4</string>
					<key>title</key>
					<string>荣事达电磁炉 22-M19D功能智能触摸屏电磁炉</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/3c8070bafc424314b4822eb8d62e61ef_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>51373120a07a4a6ab1aaa8f953938748</string>
					<key>index</key>
					<string>5</string>
					<key>title</key>
					<string>oppoA31移动版4G 16G机身内存 1G运行内存（白）赠品：钢化膜+手机皮套+防尘塞</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/6d67fad733cc4b11a2e7708fec2bfabb_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template5</string>
			<key>id</key>
			<string>5a57c3c678ab42a2933db21416dc6a90</string>
			<key>index</key>
			<string>6</string>
			<key>name</key>
			<string>app首页banner二_INDEX_AD2</string>
			<key>number</key>
			<string>AD_INDEX_AD2</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>6849fb4fc92e4b1e9932ca41c802e39f</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>大家电</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/6d094ed486cb410d8fced49881a3be96_size.jpg</string>
					<key>objId</key>
					<string>c71cb2734f0343a2a84778310dcb24cc</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template6</string>
			<key>id</key>
			<string>f6d817225ba5417198e587727929c696</string>
			<key>index</key>
			<string>7</string>
			<key>name</key>
			<string>热门市场</string>
			<key>number</key>
			<string>INDEX_RMSC_8</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>82b66aa0a3964302a637f63ab72f9749</string>
					<key>index</key>
					<string>1</string>
					<key>title</key>
					<string>双虎家私 收缩型（2100-2700）地柜 340*420</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/88b1f95405e741cb956c48472b43b3c5_size.jpg</string>
					<key>objId</key>
					<string>c71cb2734f0343a2a84778310dcb24cc</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>81d35cca4b2948a19a5ad9375c89cf78</string>
					<key>index</key>
					<string>2</string>
					<key>title</key>
					<string>全棉印花四件套（雅阁）</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/c476ab3237ce46b6b01ad163cc83db6e_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>3d4354bb58964e63b9275533b0e9796b</string>
					<key>index</key>
					<string>3</string>
					<key>title</key>
					<string>双虎家私 艺术欧式宫廷系列五门衣柜2172*610*2290H</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/ee33606b3bcc42f68d078c644f3c9167_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>d931527a0f7c44a8ab96d2589b4802ec</string>
					<key>index</key>
					<string>4</string>
					<key>title</key>
					<string>提花绒四件套（絮语飘香玉）</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/224cc9c0e79b402299f2222b58d988b9_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>ee4562e464734eee968d5c28907783af</string>
					<key>index</key>
					<string>5</string>
					<key>title</key>
					<string>掌上明珠 SF01088-AX真皮沙发原版左(1+3+妃)3630*1800*900</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/690af830985643938886c64c756cedcd_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>9bbccec1860f4c809245ccf31f7a95bf</string>
					<key>index</key>
					<string>6</string>
					<key>title</key>
					<string>小刀货13—2电动三轮车 蓝色</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/a896d323a16d4284bcb83a87198fdb47_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>32e1200660f949d2a8dd40d9f0ba18fb</string>
					<key>index</key>
					<string>7</string>
					<key>title</key>
					<string>全棉印花四件套（雅阁）</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/c284a0b087184cec90116a8ad252d041_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>21db8a1d20744fb0a735992f60054235</string>
					<key>index</key>
					<string>8</string>
					<key>title</key>
					<string>雅迪电动车 MK-战驰 60V 碟刹 真空胎</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/c2cb94861a8a4c2187b8eb7cea106f08_size.jpg</string>
					<key>objId</key>
					<string>e31c4461dab946529a34391b109d66d3</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>templateType</key>
			<string>Template7</string>
			<key>id</key>
			<string>dbcdc7fd8cf3416a97537c0216a57845</string>
			<key>index</key>
			<string>8</string>
			<key>name</key>
			<string>app首页banner三_INDEX_AD3</string>
			<key>number</key>
			<string>AD_INDEX_AD3</string>
			<key>adverts</key>
			<array>
				<dict>
					<key>startTime</key>
					<string>2016-07-14 00:00:00</string>
					<key>endTime</key>
					<string>2016-07-31 23:59:59</string>
					<key>id</key>
					<string>9a26a3c5e947414b810562915352b176</string>
					<key>index</key>
					<string>9a26a3c5e947414b810562915352b176</string>
					<key>title</key>
					<string>厨房小电</string>
					<key>imgPath2</key>
					<string></string>
					<key>imgPath</key>
					<string>http://image.ffzxnet.com//new_2016/advertImage/20160718/aa9d9a82eab64184ba3a0ebd0737e0b9_size.jpg</string>
					<key>objId</key>
					<string>c71cb2734f0343a2a84778310dcb24cc</string>
					<key>type</key>
					<string>PANICBUYING_LIST</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
